:root {
  --sag-bg-200: #11111b;
  --sag-bg-300: #181825;
  --sag-bg-400: #181825;
  --sag-bg-500: #1e1e2e;
  --sag-bg-600: #1e1e2e;
  --sag-bg-700: #2c2c3f;
  --sag-bg-800: #313244;
  --sag-bg-900: #313244;

  --sag-accent-primary: #5f8cfb;
  --sag-accent-secondary: #89b4fa;

  /* minimal functional fox variables */
  --mff-urlbar-color: #89b4fa;
  --mff-urlbar-focused-color: #e0fbfc;
  --mff-urlbar-font-family: "Cantarell", serif;
  --mff-urlbar-font-size: 12pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: #e0fbfc;
  --mff-urlbar-results-font-family: "Cantarell", serif;
  --mff-urlbar-results-font-size: 12pt;
  --mff-urlbar-results-font-weight: 700;

  /* overridden firefox variables */
  --lwt-accent-color: var(--sag-bg-500) !important;

  --color-gray-50: var(--sag-bg-900) !important;
  --color-gray-55: var(--sag-bg-800) !important;
  --color-gray-60: var(--sag-bg-700) !important;
  --color-gray-65: var(--sag-bg-600) !important;
  --color-gray-70: var(--sag-bg-500) !important;
  --color-gray-75: var(--sag-bg-400) !important;
  --color-gray-80: var(--sag-bg-300) !important;
  --color-gray-85: var(--sag-bg-200) !important;
  --color-gray-90: var(--sag-bg-200) !important;

  --color-accent-primary: var(--sag-accent-primary) !important;
  --color-accent-primary-hover: var(--sag-accent-secondary) !important;
  --color-accent-primary-active: var(--sag-accent-secondary) !important;
  --color-accent-primary-selected: var(--sag-accent-secondary) !important;

  --focus-outline-color: transparent !important;
  --chrome-content-separator-color: transparent !important;

  --gd-head-width: 400px;
}

/* make the top bar position absolute */
#navigator-toolbox {
  z-index: 1000 !important;
  position: absolute !important;
  width: var(--gd-head-width);
  overflow: unset !important;
}

#sidebar {
  border-radius: 0 !important;
  margin-inline: 0 !important;
}

/* remove the horizontal inset without changing toolbar clearance */
#sidebar-box {
  --sidebar-background-color: var(--sag-bg-500) !important;
  margin-top: 40px;
  border-radius: 0 !important;
  padding-inline: 0 !important;
  margin-inline: 0 !important;
  border-inline: none !important;
}

#sidebar-container {
  /* takes up 1px for some reason */
  display: none !important;
}

/* drop all browser rounding and padding */
#browser {
  gap: 0 !important;
}

#tabbrowser-tabpanels> :not(.split-view-panel) .browserContainer {
  border-radius: 0 !important;
  border: none !important;
}

/* hide firefox sidebar */
sidebar-main {
  display: none !important;
}

/* hide sideberry header */
sidebar-panel-header {
  display: none !important;
}

.sidebar-panel {
  color: white;
}

/* fixed sideberry size */
#sidebar-box {
  width: var(--gd-head-width) !important;
}

#sidebar-splitter {
  display: none;
}

/* comment out to show window control */
.titlebar-buttonbox-container {
  display: none !important;
}

#navigator-toolbox,
.toolbar-items,
.browser-toolbar:not(.titlebar-color),
#nav-bar-customization-target,
#nav-bar-overflow-button,
#PanelUI-button {
  background-color: var(--sag-bg-500) !important;
}

#urlbar-input:focus {
  color: var(--mff-urlbar-focused-color) !important;
}

#urlbar-input {
  font-size: var(--mff-urlbar-font-size) !important;
  color: var(--mff-urlbar-color) !important;
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight) !important;
  text-align: center !important;
}

#urlbar .urlbarView {
  font-family: var(--mff-urlbar-results-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-results-font-size) !important;
  color: var(--mff-urlbar-results-color) !important;
}

#tracking-protection-icon-container,
#page-action-buttons {
  display: none !important;
}

.search-one-offs {
  display: none !important;
}

#tabbrowser-tabs {
  display: none;
}

.titlebar-spacer {
  display: none !important;
}

#navigator-toolbox {
  padding: 4px;
}

#new-tab-button,
#alltabs-button {
  display: none !important;
}

#nav-bar {
  position: unset !important;
}

#urlbar:not(#urlbar[open]) {
  pointer-events: none;
  opacity: 0;
}

#urlbar-container {
  --urlbar-container-width: 700px;
  --urlbar-container-height: 50px;

  z-index: 99999999999;
  pointer-events: none;

  width: var(--urlbar-container-width) !important;
  max-width: var(--urlbar-container-width);
  max-height: var(--urlbar-container-height);

  position: absolute !important;
  left: 50vw;
  top: 30vh;
  transform: translate(-50%, -50%);

  /* reset their values */
  padding-block: 0 !important;
  margin-inline: 0 !important;
}

#urlbar-container #urlbar {
  max-width: var(--urlbar-container-width) !important;
  height: var(--urlbar-container-height) !important;

  pointer-events: all;
}

#urlbar .urlbar-background {
  inset: 0 !important;
  border: none !important;
  border-radius: 8px 8px 0 0 !important;
  box-shadow: none !important;
  clip-path: none !important;

  background-color: var(--sag-bg-700) !important;
}

#urlbar-container #urlbar .urlbarView {
  position: absolute !important;
  margin-top: -30px !important;
  transform: translateX(-50%);
  border-radius: 0 0 8px 8px;
  overflow-clip-margin: unset !important;

  /* reset their values */
  padding-block: 0 !important;
  margin-inline: 0 !important;
}

.urlbarView-background {
  background: var(--sag-bg-700) !important;
}

/* shadow for URL bar */
#urlbar-container #urlbar {
  box-shadow: 0 0 16px #0004;
}

#urlbar-container #urlbar .urlbar-background,
#urlbar-container #urlbar .urlbar-input-container {
  /* ensures the shadow for the items does not cover the input */
  z-index: 1000;
}
